/* Main Page */
.row {
    padding-top: 20px;
    padding-left: 170px;
}

/* Navbar */
#left-nav {
   background-color: #D7D7DE;    
   border-top-left-radius: 20px;
   border-bottom-left-radius: 20px;
   border-top-right-radius: none;
   border-bottom-right-radius: none;
   width: 200px;
}

a {
	width: 200px;
	color: black;
}

li {
	text-align: center;
	color: black;
	padding-top: 10px;
}

li:hover {
	font-size: 1.1em;	
}

i {
	margin-left: 5px;
}

/* Main */
#main {
	text-align: center;
	background-color: #D7D7DE;   
	height: 500px;
}


