/* Main Page */
.row {
    padding-top: 20px;
    padding-left: 170px;
}

/* Navbar */
#left-nav {
   background-color: #D7D7DE;    
   border-top-left-radius: 20px;
   border-bottom-left-radius: 20px;
   border-top-right-radius: none;
   border-bottom-right-radius: none;
   width: 200px;
}

a {
	width: 200px;
	color: black;
}

li {
	text-align: center;
	color: black;
	padding-top: 10px;
	padding-bottom: 10px;
}

li:hover {
	font-size: 1.2em;	
	border-radius: 20px;
}

i {
	margin-left: 5px;
}
/*Patch This Tomorrow*/
h4{
	font-family: Arial;
	padding-left: 200px; 
	text-align: left;
}

h4 > i {
	float: right;
	padding-right: 200px;
}

/* Main */
#main {
	border-radius: 5px,20px,20px;
	font-family: Arial;
	text-align: center;
	background-color: #D7D7DE;   
	height: 500px;
	
}




