/* Main Page */
.main {

    width: 250px;
    color: #40DC40;
}
.myTime{
	color:white;
	border: 4px solid black; width:30%; 
	float: right;
	margin-top: -442px;
	background-color: #387819;
	font-family: arial;
}
.inputTime{
	
	text-align: center;
	
}
.nav{
	height:100%;
	padding:10px;
	
}
.nav li{
	padding: 20px;
}
.left-navigation{
	border: 1px solid black;
	margin-right: 85%;
}