body {
    width: 100%;    
}

/* Main Page */
.row {
    padding-top: 20px;
    padding-left: 200px;
}

/* Navbar */
#left-nav {
   background-color: #666678;    
   border-radius: 20px;
}

a {
	color: white;
}

li {
	color: white;
	padding-top: 10px;
}

/* Main */
#main {
    text-align: center;
	height: 500px;
}


.border{
    border-radius: 20px;
    border-style: solid;
}