.myTime{
	color:white;
	border: 4px solid black;  
	background-color: #6dc24b;
	font-family: arial;
	width:500px;
	position:fixed;
	height:200px;
	opacity: .9;
}
.myTravel{
	border: 4px solid black; width:500px; 
	font-family: arial;
	background-color: #00a2e0;
	height:200px;
	position:fixed;
	color: white;
	opacity: .9;
	 

}
.myDeclaration{
	border: 4px solid black; 
	font-family: arial;
	background-color: #0e3570;
	position:fixed;
	height:200px;
	width:500px;
	color:white;
}
.flightInfo{
	 width:100%; 
}
.inputTime{
	
	text-align: center;
	
}
.dropdown{
 width:120px;
opacity: .8;
 background-color: #00a2e0;
}
.rightBox{
	 width:190px; margin-left:220px;margin-top:-84px;
}
.appraisal{
	border: 4px solid black; position:fixed; 
	background-color: #646363;
	opacity: 1;
	color:white;
	font-family: arial;
	height:200px;
	width:500px;


}
