.myTime{
	color:white;
	border: 4px solid black; width:30%; 
	background-color: #6dc24b;
	font-family: arial;
	width:26.66%;
	position:fixed;
	height:60%;
}
.myTravel{
	border: 4px solid black; width:26.66%; 
	font-family: arial;
	background-color: #ffda29;
	height:60%;
	position:fixed;
}
.myDeclaration{
	border: 4px solid black; 
	font-family: arial;
	width:26.66%;
	background-color:lightblue;
	position:fixed;
	height:60%;
}
.flightInfo{
	border: 1px solid black; width:100%; 
}
.inputTime{
	
	text-align: center;
}
.dropdown{
 width:120px;
}
.rightBox{
	 width:190px; margin-left:120px;margin-top:-84px;
}
.appraisal{
	border: 4px solid black; width:26.66%; position:fixed; height:60%;

}